@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #F5F5F5;
}

.navbar {
    background: #48CFCB;
    margin: 0;
    padding: 20px 30px;
}

.navbar img{
    width: 50px;
    height: auto;
}

.logo{
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
    color: #F5F5F5;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tombol{
    display: none;
    color: #F5F5F5;
    font-size: 14pt;
}

.tombol :hover{
    cursor: pointer;
}

.menu{
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
}

.menu li{
    padding-left: 0;
    margin-right: 10px;
}

.menu li a{
    padding: 10px;
    color: #F5F5F5;
    text-decoration: none;
    display: inline-block;
}

@media screen and (max-width:768px){
    .menu{
        display: none;
    }

    .tombol{
        display: block;
    }

    .menu.aktif{
        display:inline-block;
        position: absolute;
        top: 64px;
        background: #212121;
        padding: 10px 20px;
        right: 0;
        left: 0;
    }
    
    .menu.aktif li a{
        padding: 10px;
        display: inline-block !important;
    }
}